duckdb==1.5.5
hdbscan==0.8.43
imbalanced_learn==0.14.2
joblib==1.5.3
lightgbm==4.7.0
matplotlib==3.11.1
neuroCombat==0.2.12
neuroCombat==0.2.12
numpy==2.5.1
pacmap==0.9.1
pandas==3.0.5
pcntoolkit==1.2.0.post1
pingouin==0.6.1
pygam==0.12.0
scikit_learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
shap==0.51.0
statsmodels==0.14.6
tqdm==4.67.3
umap_learn==0.5.12
